{% extends 'front_office/base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

    <style>
        .event-section {
            background: #f8f9fa;
        }



    </style>

    
    <section class="event-section py-5">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2 class="fw-bold">Browse Events</h2>
                    <p class="text-muted">Find the best events</p>
                </div>
            </div>

            <div class="row g-4">
                {% for event in events %}
                    {% include 'Front_office/component/_eventCard.html.twig' with {'event': event} %}
                {% endfor %}
            </div>

            {% include 'Front_office/component/_paginationCard.html.twig' with {'current_page': current_page, 'total_pages': total_pages} %}


        </div>
</section>
{% endblock %}